/*
   $Id$
   wings advanced CSS Style Sheet for gecko Browser (Mozilla, FireFox).

   >> This file containes advanced, optional css declarations for styling only.  <<
   >> Porting changes in this file to other browsers is OPTIONAL                 <<

   Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

/* ----------- GLOBAL FRAME */

BODY {
    background: #ffffff;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8em;
    height: 100%;
}

/* Links: No visited colour, no underline  */
A:link, A:visited, A:active {
    color: #000066;
    text-decoration: none;
}

/* ----------- INPUT ELEMENTS  */

/* Input text fields, dropdown lists, buttons:
   Light gray background, gray outline. */
.STextArea textarea, .STextField input[type="text"], .SFormattedTextField input[type="text"],
.SPasswordField input[type="password"], .SComboBox select, .SList select, .SButton button,
.SToggleButton button, .SCheckBox input[type="checkbox"], .SRadioButton input[type="radio"] {
    background-color: #eee;
    border: 1px solid #aaa;
}

/* ----------- STable even/odd and selected line coloring */

table.STable > tbody > tr[even="true"] {
    background-color: #efefef;
}

table.STable > tbody > tr[odd="true"] {
    background-color: #e5e5e5;
}

table.STable > tbody > tr[selected="true"] td {
    background-color: #ffbbbb;
}

/* ----------- DISABLED COMPONENTS OPACITY = 0.7*/

/* Disabled button transparent */
table.SButton > a[disabled="true"] * {
    opacity: 0.7;
}
/* Disabled button transparent */
table.STextField > input[disabled="true"] {
    opacity: 0.7;
}
table.SFormattedTextField > input[disabled="true"] {
    opacity: 0.7;
}

/* ----------- READONLY TEXTFIELDS: Grey background */

table.STextField > input[readonly="true"], table.SFormattedTextField > input[readonly="true"]  {
    background-color: #eeeeee;
}

/* ----------- DESKTOP PANE */

/* Thin grey border around buttons in SToolBar. See desktop demo. */
table.SToolBar {
    background-color: inherit !important;
    border: 1px none !important;
}
table.SToolBar > tbody > tr > td {
    background-color: inherit !important;
    padding: 2px;
}
table.SToolBar table.SButton {
    background-color: inherit !important;
    border: 1px none !important;
}

/* ----------- SOPTIONPANE / SDIALOG */

/*  Note: SOptionPane extends SDialog. */

table.SDialog > tbody > tr > th,
table.SOptionPane > tbody > tr > th {
    padding-left: 1px;
    padding-right: 1px;
}
table.SDialog > tbody > tr > th[col="title"],
table.SOptionPane > tbody > tr > th[col="title"] {
    background-color: #aaaaff;
    text-align: left;
    width: 100%;
}
table.SDialog > tbody > tr > *,
table.SOptionPane > tbody > tr > * {
    border: 1px solid #cccccc;
}
