/*
   $Id$
   wings Default Style Sheet for IE Browser.

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> Porting changes in this file to other browsers is REQUIRED              <<

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!

   Includes CSS definitions that are required for wings to work correctly.
   - Please use msie-advanced.css for visual only styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

HTML {
    height: 100%;
}

/** 
 * Class for all invisible HTML tables used for layouting purposes. 
 * without border-collapse, ie keeps borders, even if we set no border
 */
table, td, th {
    border-collapse: collapse;
}

/* please comment on these...are they needed? */
td, th {
    padding: inherit;
    margin: inherit;
}

/* ---------- Menus */

/* Avoid right-align of text for right-aligned menues. */
li.SMenuItem, li.SMenu {
   text-align: left;
}

/* Avoid double line spacing in IE */
ul.SPopupMenu li,
ul.SMenu li
{float:left;height:1%;}
ul.SPopupMenu li a,
ul.SMenu li a
{height:1%;}

/* IE renders the bullet on a separate line with this missing */
.SList li table {
    display: inline;
}

/* tooltips opacity */
div.domTT {
    filter:alpha(opacity=80);
}

/* Simulate and style FORM buttons for A HREF*/
table.SButton A.formbutton:active {
   padding: 0px 5px 0px 7px;
   border-style: inset;
}
table.SButton SPAN.disabled_formbutton {
   color: gray !important;
}
table.SButton SPAN.disabled_formbutton:active {
   padding: 1px 7px 1px 7px;
   border: 1px outset #ddd;
   cursor: default;
}

/* reworked tag */



.SScrollPane{
    width: 100%;
    height: 100%;
}



/* Style of the Legend label for STitledBorder */
.STitledBorderLegend {
    position: relative;
    top:-1.7em;
	margin-bottom:-1em;
    margin-right: 1.0em;
    margin-left: 1.0em;
    margin-right: 1.0em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    /*background-color: inherit;*/     /* IE doesnt understand inherit */
    border-left:  #c0c0c0 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    border-right: #c0c0c0 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    background: #ccc;                  /* IE doesnt understand inherit, so need to guess :-( */
}

/* Style of the surrounding border for a STitledBorder */
.STitledBorder {
    margin-top: 1em;
    padding-top: 1em;
}

/*.selection {
   background-color: #AAAAFF;
}*/
