/*
   $Id$
   wings Default Style Sheet for IE Browser.

   >> This file contains CORE CSS declarations needed for correct operation.  <<
   >> Porting changes in this file to other browsers is REQUIRED              <<

   CURRENTLY NOT IN A WORKING STATE -- WE DEVEL ON GECKO!

   Includes CSS definitions that are required for wings to work correctly.
   - Please use msie-advanced.css for visual only styling
   - Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

/* bs: This lead to scrollers around documents, not window: HTML,*/
BODY,TEXTAREA {
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8em;
    height: 100%;
}

HTML {
    height: 100%;
}

/* either use this or cellpadding/cellspacing/border in table element.
   css overwrites all attributes! */

/** Class for all invisible HTML tables used for layouting purposes. */
table, td, th {
    border-collapse: collapse;
    border: none;
    padding: 0px;
    margin: 0px;
/*    text-align: inherit;

    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    line-height: inherit;*/
}

span {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    line-height: inherit;*/
}

td, th {
    padding: inherit;
    margin: inherit;
}

li, ul {
    margin: 0px;
    padding: 0px;
}
ul {
    padding-left: 24px;
}

/* the layouts should all expand to 100% width & height of the surrounding SPanel */
table.SBorderLayout,
table.SGridBagLayout {
    width: 100%;
    height: 100%;
}

/* Simulate and style FORM buttons for A HREF*/
table.SButton  A.formbutton,
table.SButton  SPAN.disabled_formbutton {
   padding: 0px 6px 0px 6px;
   border: 2px outset #ddd;
   background-color: #ddd;
   color: #000;
   line-height: normal !important;
   cursor: default;
   text-align: center;
   white-space: normal;
   text-indent: 0;
   display: block;
   height: 100%;
}
table.SButton A.formbutton:active {
   padding: 0px 5px 0px 7px;
   border-style: inset;
}
table.SButton SPAN.disabled_formbutton {
   color: gray !important;
}
table.SButton SPAN.disabled_formbutton:active {
   padding: 1px 7px 1px 7px;
   border: 1px outset #ddd;
   cursor: default;
}

/* SFlowLayout can't flow if the immediate inner children has defined 100% width.
   Some wingS component inheritly define 100% width i.e. like SForm.
   We overwrite their width in this case to 1%. This leads to many rules, but is easily implementable. */
/* this doesn't seem to be working...(ol)
table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SForm
{
    width: 1%;
}
*/
/* Counterpart: If a table layout is in between --> reverse patch. */
/*
table.SFlowLayout table.SLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayouttable.SFlowLayout table.SLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SLayout table.SForm,
table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SFlowLayout table.SLayout table.SForm
{
    width: 100%;
}*/

IMG {
    border: none !important;     /* This is needed to avoid those ugly borders around linked imgs's */
}

a {
    text-decoration: inherit;
}

a:link, a:visited, a:active {
    color: #000066;
    text-decoration: none;
}

.SScrollPane{
    width: 100%;
    height: 100%;
}

.SScrollBar{
    width: 100%;
    height: 100%;
}

/*
PageScroller as form-component
*/
.SPageScroller a {
    border: none;
    background: none; /* IE doesnt understand inherit */
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

/*
PageScroller as non-form-component
*/
.SPageScroller A,
.SPageScroller SPAN {
   text-decoration: underline !important;
   padding-left: 5px;
   padding-right: 5px;
}

.SPageScroller a:hover{
   background-color: #ECECEC;
}

.SPageScroller SPAN.disabled_button,
.SPageScroller SPAN.disabled_formbutton {
	text-decoration: none !important;
	font-weight: bold !important;
}

/* style for scroll arrows as non-form components */
.scrollButton{
	border: 1px solid #cccccc !important;
}

/* No vertical distance on writing down many labels. */
table.SLabel {
    border: none;
    padding: 0px;
    margin: 0px;
}

.STextField {
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

.href {
   color: #990000;
   text-decoration: none;
   font-weight: bold;
}

.selection {
  background-color: #99cccc;
}

.SList {
   border-style: none;
   border-width: 0px;
   text-decoration: none;
   font-family: sans-serif;
   font-weight: normal;
   font-style: normal;
   color: #000000;
}

.SList li.SList_selected {
    background-color: #f6decc !important;
    border: 1px dotted black;
    cursor: pointer
}

.STree {
	vertical-align: top;
	text-align: left;
}

/* ---- Selection color of STrees ----------------------------------------------------------------------*/
/* we need cascading styles here since else children get selected.
   if you need to select across more than 4 levels, you need to expand these rules.
   and I don't take the blame, it's all IE's fault ;) (ol) */
ul.STree li.selected table tr td a table,
ul.STree li.selected table tr td button table,
ul.STree li.selected li.selected table tr td a table,
ul.STree li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected li.selected table tr td button table {
    background-color: #ffbbbb;
    border: 1px dotted black;
}
/* lift former style for children */
ul.STree li.selected li table tr td a table,
ul.STree li.selected li table tr td button table,
ul.STree li.selected li.selected li table tr td a table,
ul.STree li.selected li.selected li table tr td button table,
ul.STree li.selected li.selected li.selected li table tr td a table,
ul.STree li.selected li.selected li.selected li table tr td button table,
ul.STree li.selected li.selected li.selected li.selected li table tr td a table,
ul.STree li.selected li.selected li.selected li.selected li table tr td button table,
ul.STree li.selected li.selected li.selected li.selected li.selected li table tr td a table,
ul.STree li.selected li.selected li.selected li.selected li.selected li table tr td button table {
    background-color: transparent;
    border: none;
}
/* ---------------------------------------------------------------------------------------------------- */

/* bugfix: IE renders some margin into buttons by default, we hate that.
   maybe extend this onto all buttons... ole 15.07.2005
*/
ul.STree li table tr td button {
    overflow:visible;
    width:1px;
}

ul.STree{
	list-style: none;
	margin-left:0px;
	padding-left:0px;
}

ul.STree li {
	padding-left: 0px;
	margin-left: 0px;
}
ul.STree li * {
	white-space: nowrap;
    padding-right: 2px;
}

ul.STree li a {
    border: none;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
ul.STree li div.SSubTree {
	background-image: url(org/wings/icons/TreeLine.gif);
	background-repeat:repeat-y;
	background-position: 0px 100px;
}

table.STable {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

table.STable th.cell,
table.STable td.cell
{
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

/* let the link span the whole table */
table.STable tbody tr td a {
	display: block;
	width: 100%;
}

table.STable tbody tr td.numbering {
    text-align: right;
}

table.STable tbody tr.odd {
    background-color: #e5e5e5;
}

table.STable tbody tr.even {
    background-color: #efefef;
}

table.STable tbody tr.selected {
    background-color: #ffbbbb !important;
}

.SAnchor {
   color: #000044;
}

.SToolBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.SSeparator {
	border: #000000;
	height: 2px;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
}

/* Style of the Legend label for STitledBorder */
.STitledBorderLegend {
    position: relative;
    top:-1.7em;
	margin-bottom:-1em;
    margin-right: 1.0em;
    margin-left: 1.0em;
    margin-right: 1.0em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    /*background-color: inherit;*/     /* IE doesnt understand inherit */
    border-left:  #c0c0c0 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    border-right: #c0c0c0 2px groove;  /* IE doesnt understand inherit, so need to guess :-( */
    background: #ccc;                  /* IE doesnt understand inherit, so need to guess :-( */
}

/* Style of the surrounding border for a STitledBorder */
.STitledBorder {
    margin-top: 1em;
    padding-top: 1em;
}

.SScrollBar {
	font-size: 1px;
	border-width: 0px;
}

.selection {
   background-color: #AAAAFF;
}

.STabbedPane_right {
    vertical-align: top;
    text-align: left;
}

.STabbedPane_left {
    vertical-align: top;
    text-align: right;
}

.STabbedPane_top {
    text-align: left;
    padding-top:.1em;
}

.STabbedPane_bottom {
    text-align: left;
    padding-bottom:.1em;
}

.STabbedPane_Tab_top,
.STabbedPane_Tab_bottom,
.STabbedPane_Tab_left,
.STabbedPane_Tab_right {
	width:1em; /* display borders */
    border: 1px solid black;
    white-space: nowrap;
    line-height: 1.6em;
}

.STabbedPane_Tab_button_top,
.STabbedPane_Tab_button_bottom,
.STabbedPane_Tab_button_left,
.STabbedPane_Tab_button_right {
    border: 1px solid black;
    background: none;
    white-space: nowrap;
    line-height: 1.6em;
}

td.STabbedPane_pane {
    border: 2px ridge black;
    width: 100%;
    height: 100%;
}

.STabbedPane_Tab_button_top,
.STabbedPane_Tab_top {
    border-bottom: none !important;
}

.STabbedPane_Tab_button_bottom,
.STabbedPane_Tab_bottom {
    border-top: none !important;
}

.STabbedPane_Tab_button_left,
.STabbedPane_Tab_left {
    border-right: none !important;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.STabbedPane_Tab_button_right,
.STabbedPane_Tab_right {
    border-left: none !important;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

/* Background color of selected STabbedPane tabs */
.STabbedPane_Tab_selected {
    background-color: #ffbbbb;
}

.STabbedPane_Tab_disabled {
    color : #808080;
}

a.STabbedPane_Tab_top img {
    vertical-align: top;
}

.SButton {
    color: #004;
}

/* selected state */
.SButton button.SButton_selected,
.SToggleButton button.SToggleButton_selected
{
    border-style: inset;
}

/* ---------- DOM ToolTips */
div.domTT {
    border: 1px solid #333333;
    filter:alpha(opacity=80);
}
div.domTTCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    background-color: #333333;
}
div.domTTContent {
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}

/* ---------- Menus */
.SMenuBar{
    background-color: #eef;
    border-bottom: 1px solid #ccc;
    color: #000044;
}

.SMenuBar div.SMenu,
.SMenuBar div.SMenu_Disabled {
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: #eee #999 #999 #eee;
    padding:1px 3px 1px 3px;
    background:#eef;
    white-space:nowrap;
    margin:0;
}

/* Avoid right-align of text for right-aligned menues. */
li.SMenuItem, li.SMenu {
   text-align: left;
}

.SMenuBar div.SMenu {
    color: #004;
    cursor: pointer;
}

.SMenuBar div.SMenu_Disabled {
    color: #666;
}

.SMenu A,
.SPopupMenu A {
    padding:1px 3px 1px 3px;
    display:block;
    white-space:nowrap;
    margin:0px;
}

.SMenu a, .SMenu a:visited,
.SPopupMenu a, .SPopupMenu a:visited {
    color:#000;
}

.SMenu a:hover,
.SPopupMenu a:hover {
    color:#fff;
    background:#66b;
}

.SMenu a:active,
.SPopupMenu a:active{
    color:#aaa;
    background:#66b;
}

.SMenu .SMenu_Disabled a,
.SMenu .SMenuItem_Disabled a,
.SPopupMenu .SMenu_Disabled a,
.SPopupMenu .SMenuItem_Disabled a {
    color:#666;
}

.SMenu .SMenu_Disabled a:hover,
.SMenu .SMenuItem_Disabled a:hover,
.SPopupMenu .SMenu_Disabled a:hover,
.SPopupMenu .SMenuItem_Disabled a:hover{
    background:#eee;
}

.SMenu li,
.SPopupMenu li {
    position:relative;
    background: #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #999;
    width:auto;
}

.SMenu ul,
.SPopupMenu ul{
    list-style:none;
    margin:0px;
    padding:0px;
    position:absolute;
    z-index:500;
    top:auto;
    display:none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    width:auto;
}

.SMenu ul ul,
.SPopupMenu ul ul{
    top:-1px;
    left:100%;
}

.SMenu a span.accelerator {
	font-size: .7em;
	margin-left: 1.5em;
}

/* Styling for Expand */

.SMenu a.x, .SMenu a.x:visited,
.SMenu a.y, .SMenu a.y:visited, .SMenu a.y:hover,
.SPopupMenu a.x, .SPopupMenu a.x:visited,
.SPopupMenu a.y, .SPopupMenu a.y:visited, .SPopupMenu a.y:hover{
    background:#eee url( 'org/wings/icons/MenuArrowRight.gif' ) no-repeat center right;
    padding-right:10px;
}

.SMenu a.x:hover,
.SPopupMenu a.x:hover{
    background:#66b url("org/wings/icons/MenuArrowRight.gif") no-repeat center right;
    padding-right:10px;
}

.SPopupMenu ul li,
.SMenu ul li
{float:left;height:1%;}

.SPopupMenu ul li a,
.SMenu ul li a
{height:1%;}

/* show a different cursor on links and buttons which surround tables */
.SButton {
    cursor: pointer;
}


/* DesktopPane */
/* clears the windows */
div.SDesktopPane div.spacer {
    height:0px;
    clear: both;
}

/* Note: internal frame, dialog and option pane are identical
/* ----------- SINTERNALFRAME */

div.SInternalFrame {
    border: 1px solid #ccc;
    margin: .2em;
    float:left;
	display:table;
}

div.SInternalFrame div.WindowBar {
	padding:.2em;
	background-color: #aaf;

}

div.SInternalFrame div.WindowBar  a.WindowButton,
div.SInternalFrame div.WindowBar  button.WindowButton {
	float: right;
}

div.SInternalFrame div.WindowBar a.DeiconifyButton {
	display: inline;
}

div.SInternalFrame div.WindowContent {
	padding: .2em;
}

/* ----------- SDIALOG */

.SDialog {
    border: 1px solid #ccc;
    margin: .2em;
    float:left;
	display:table;
}

.SDialog div.WindowBar {
	padding:.2em;
	background-color: #aaf;
}

.SDialog div.WindowBar  a.WindowButton,
.SDialog div.WindowBar  button.WindowButton {
	float: right;
}

.SDialog div.WindowBar a.DeiconifyButton {
	display: inline;
}

.SDialog div.WindowContent {
	padding: .2em;
}

/* ----------- SOPTIONPANE */

.SOptionPane {
    border: 1px solid #ccc;
    margin: .2em;
    /* float:left;          This disables centered option panes! */
	display:table;
}

.SOptionPane div.WindowBar {
	padding:.2em;
	background-color: #aaf;
}

.SOptionPane div.WindowBar  a.WindowButton,
.SOptionPane div.WindowBar  button.WindowButton {
	float: right;
}

.SOptionPane div.WindowBar a.DeiconifyButton {
	display: inline;
}

.SOptionPane div.WindowContent {
	padding: .2em;
}
