/*
   $Id$
   wings advanced CSS Style Sheet for Internet Explorer Browser

   >> This file containes advanced, optional css declarations for styling only.  <<
   >> Porting changes in this file to other browsers is OPTIONAL                 <<

   Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

/* ----------- SOME GLOBALS */

body {
    background: #ffffff;
    position: relative;
    margin: 0px;
}

/* Smaller fonts for IE to be comparable with Mozilla rendering. Refer also: http://www.clagnut.com/blog/348/ */
body, td {
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8em;
}

/* ----------- STable even/odd and selected line coloring */

.STable table tbody tr.odd {
    background-color: #e5e5e5;
}

.STable table tbody tr.even {
    background-color: #efefef;
}

.STable table tbody tr.selected {
    background-color: #ffbbbb !important;
}


/* ----------- Input text fields, dropdown lists, buttons: Orange background, orange outline. */
textarea, select, button {
    background-color: #eee;
    border: 1px solid #aaa;
}

/* text input same as above */
input {
    background-color: expression((this.type=="text" || this.type=="password") ? '#eee' : 'inherit');
    border: expression((this.type=="text" || this.type=="password") ? '1px solid #aaa' : 'inherit');
}

/* Links: No visited colour, no underline  */
A:link, A:visited, A:active {
    color: #000066;
    text-decoration: none;
}


