/*
   $Id$
   wings advanced CSS Style Sheet for Internet Explorer Browser

   >> This file containes advanced, optional css declarations for styling only.  <<
   >> Porting changes in this file to other browsers is OPTIONAL                 <<

   Please avoid generic/global css selectors and use the wings css classes in your selection path
*/

/* ----------- SOME GLOBALS */

body {
    background: #ffffff;
    position: relative;
    margin: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8em;
}

/* Input text fields, dropdown lists, buttons: Orange background, orange outline. */
TEXTAREA, select, button {
    background-color: #f6decc;
    border: 1px solid #e66e32;
}

/* text input same as above */
input {
    background-color: expression((this.type=="text" || this.type=="password") ? '#f6decc' : 'inherit');
    border: expression((this.type=="text" || this.type=="password") ? '1px solid #e66e32' : 'inherit');
}

/* Links: No visited colour, no underline  */
A:link, A:visited, A:active {
    color: #000066;
    text-decoration: none;
}


/* STable even / odd coloring */

.STable table tbody tr.odd {
    background-color: #eeeeee;
}

.STable table tbody tr.selected {
    background-color: #f6decc !important;
}

