/*
    Demonstration of an application specific CSS style for wingS applications. (Default version)

    $Id$
*/


/* ----- Input text fields, dropdown lists, buttons: Orange background, orange outline. */
.STextArea textarea, .STextField input[type="text"], .SFormattedTextField input[type="text"],
.SPasswordField input[type="password"], .SComboBox select, .SList select, .SButton button,
.SToggleButton button, .SCheckBox input[type="checkbox"], .SRadioButton input[type="radio"] {
    background-color: #f6decc;
    border: 1px solid #e66e32;
}


/* ----- Fancy submit buttons. */
div.SButton > button {
    border-width: 2px;
}

/* Hover button on mouse-over. */
/*div.SButton > button:hover { border: 1px outset #cccccc; } */
/* Don't hover if disabled button. */
/*div.SButton > button:hover[disabled="true"] { border: 1px solid #cccccc;} */


/* ----- STable selection line: orange */
div.STable > table > tbody > tr[selected="true"] {
    background-color: #f6decc !important;
}

/* ----- Orange Selection color of STrees */
ul.STree > li[selected="true"] > table > tbody > tr > td > a > div,
ul.STree > li[selected="true"] > table > tbody > tr > td > button > div
 {
    background-color: #f6decc;
    border: 1px dotted black;
}

/* ----- Background color of selected STabbedPane tabs */
div.STabbedPane > table > tbody > tr > th > *[selected="true"] {
    background-color: #f6decc;
}
