/*
    Demonstration of an application specific CSS style for wingS applications. (MS IE version)

    $Id$
*/

/* Input text fields, dropdown lists, buttons: Orange background, orange outline. */
textarea, select, button {
    background-color: #f6decc;
    border-style: solid;
    border-color: #e66e32;
}
/* text input same as above */
input {
    background-color: expression((this.type=="text" || this.type=="password") ? '#f6decc' : 'inherit');
    border-style: solid;
    border-color: #e66e32;
}

/* ----- STable selection line: orange */
.STable table tbody tr.selected {
    background-color: #f6decc !important;
}

/* ---- Orange Selection color of STrees */
/* Don't blame us for the following code, it's all IE's fault! */
ul.STree li.selected table tr td a table,
ul.STree li.selected table tr td button table,
ul.STree li.selected li.selected table tr td a table,
ul.STree li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected li.selected table tr td button table {
    background-color: #f6decc;
    border: 1px dotted black;
}

/* ----- Background color of selected STabbedPane tabs */
.STabbedPane_Tab_selected {
    background-color: #f6decc;
}