/*
    Demonstration of an application specific CSS style for wingS applications. (MS IE version)

    $Id$
*/

.STextArea textarea, .STextField input, .SFormattedTextField input,
.SPasswordField input, .SComboBox select, .SList select,
.SRadioButton input {
    background-color: #eee;
}
/*.SRadioButton input {
    border: 1px solid #aaa;
}*/
.STextArea, .STextField, .SFormattedTextField,
.SPasswordField, .SList, .SComboBox {
    border: 1px solid #aaa;
}


/* ----- STable selection line: orange */
.STable table tbody tr.selected {
    background-color: #f6decc !important;
}

/* ---- Orange Selection color of STrees */
/* Don't blame us for the following code, it's all IE's fault! */
/*ul.STree li.selected table tr td a table,
ul.STree li.selected table tr td button table,
ul.STree li.selected li.selected table tr td a table,
ul.STree li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected table tr td button table,
ul.STree li.selected li.selected li.selected li.selected table tr td a table,
ul.STree li.selected li.selected li.selected li.selected table tr td button table {
    background-color: #f6decc;
    border: 1px dotted black;
}*/

/* ----- Background color of selected STabbedPane tabs */
.STabbedPane_Tab_selected {
    background-color: #f6decc;
}