div.suggestDiv {		
    background-color: InfoBackground;	
    border: 1px solid ActiveBorder;
    padding: 0px;
    text-align: left; 
}

div.suggestDiv span.selected {
    background-color: Highlight;	
    color: HighlightText;
}